<head>
  <style>
    body {
      margin: 0;
    }
  </style>

  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/three/examples/js/renderers/CSS2DRenderer.js"></script>
  <script src="//unpkg.com/3d-force-graph"></script>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>

  <style>
    .node-label {
      text-align: center;
      width: 400px;
    }
  </style>
</head>

<body>
  <div id="3d-graph"></div>

  <script type="module">

    // store graph data
    let graphData = <%- JSON.stringify(gData) %>;

    // add node id
    for (let i = 0; i < graphData.nodes.length; ++i) {
      graphData.nodes[i].id = i;
    }

    // add random links
    for (let i = 0; i < graphData.nodes.length - 1; ++i) {
      graphData.links.push({
          source: i,
          target: i+1
      })
    }

    // create graph
    const Graph = ForceGraph3D({
      extraRenderers: [new THREE.CSS2DRenderer()],
    })(document.getElementById("3d-graph"))
      .graphData(graphData)
      .nodeAutoColorBy('group')
      .enableNodeDrag(false)
      .enableNavigationControls(false)
      .showNavInfo(false)
      .nodeThreeObject((node) => {
        const nodeEl = document.createElement("div");
        nodeEl.innerHTML = node.html;
        nodeEl.className = "node-style";
        let cssObj = new THREE.CSS2DObject(nodeEl);
        cssObj.visible = false;
        return cssObj;
      })
      .nodeThreeObjectExtend(true)


    let timeout;
    function move_to_node(node) {
      // Aim at node from outside it
      const distance = 10;
      const distRatio = 1 + distance / Math.hypot(node.x, node.y, node.z);

      const newPos =
      node.x || node.y || node.z
        ? {
            x: node.x * distRatio,
            y: node.y * distRatio,
            z: node.z * distRatio,
          }
        : { x: 0, y: 0, z: distance }; // special case if node is in (0,0,0)

      Graph.cameraPosition(
      newPos, // new position
      node, // lookAt ({ x, y, z })
      3000 // ms transition duration
      );

      timeout = setTimeout(() => {
      let cssObj = node.__threeObj.children[0];
      cssObj.visible = true;
      }, "3000");
    }

    // move to first node
    let currNodeInd = -1;
    const { nodes, links } = Graph.graphData();

    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        // left arrow
        if (e.keyCode == '37') {

          if (currNodeInd <= 0) {
            return;
          }

          clearTimeout(timeout);

          currNodeInd = (currNodeInd - 1);

          move_to_node(nodes[currNodeInd]);

          if (currNodeInd != graphData.nodes.length - 1) {
            let cssObj = nodes[currNodeInd + 1].__threeObj.children[0];
            cssObj.visible = false;
          }
        }
        // right arrow
        else if (e.keyCode == '39') {

          if (currNodeInd == graphData.nodes.length - 1) {
            return;
          }

          clearTimeout(timeout);

          currNodeInd = currNodeInd + 1;

          move_to_node(nodes[currNodeInd]);

          if (currNodeInd != 0) {
            let cssObj = nodes[currNodeInd - 1].__threeObj.children[0];
            cssObj.visible = false;
          }
        }
    }

    import { UnrealBloomPass } from '//cdn.skypack.dev/three@0.136/examples/jsm/postprocessing/UnrealBloomPass.js';

    const bloomPass = new UnrealBloomPass();
    bloomPass.strength = 3;
    bloomPass.radius = 1;
    bloomPass.threshold = 0.1;
    Graph.postProcessingComposer().addPass(bloomPass);
  </script>
</body>
